body {
   background-color: #ffffff;
   margin: 20px;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   min-width: 300px;
}

body::-webkit-scrollbar {
   width: 10px;
}

body::-webkit-scrollbar-track {
   background: #E3E3E3;
   border-left: 1px solid #CDCDCD;
}

body::-webkit-scrollbar-thumb {
   color: #DA4162;
   border-radius: 4px;
   background-color: #DA4162;
   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

h2,
p {
   margin: 0;
   padding: 0;
}

p {
   font-size: 14px;
}

ul {
   margin: 5px 0px;
   padding-inline-start: 20px;
}

li {
   font-size: 14px;
}

form {
   margin-top: 15px;
}

input {
   padding: 5px;
   border: 1px solid #CCCCCC;
   border-radius: 0px;
   margin-bottom: -1px;
   min-width: 300px;
   background-color: transparent;
   padding: 6px 8px;
}

input::after,
input:focus {
   outline: none;
   border-left: 3px solid #da4162;
   min-width: 298px;

}

input::placeholder {
   color: #a4a4a4;
}

.title {
   color: #da4162;
}

button {
   margin-top: 18px;
   padding: 6px 19px;
   background-color: #da4162;
   color: white;
   border: none;
   border-radius: 3px;
   margin-bottom: 10px;
   cursor: pointer;
}

a {
   font-size: 14px;
   text-decoration: none;
   color: #1d91fd;
   cursor: pointer;
}

#alert-success,
#alert-error {
   margin: 5px 0px 0px 0px;
   font-size: 10px;
   display: none;
}

#alert-success {
   color: #13884c;
}

#alert-error {
   color: #bc1818;
}

#storage-container {
   margin-top: 5px;
   overflow-wrap: anywhere;
   word-break: break-all;
}

small a {
   font-size: 11px;
   color: #1d91fd;
   text-decoration: none;
}

.top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 10px;
}

.edit-button,
.delete-button {
   margin: 0px 0px 7px 5px;
   background-color: transparent;
   color: black;
   border: 1px solid #cdcdcd;
   border-radius: 3px;
   cursor: pointer;
   padding: 2px 5px;
   font-size: 11px;
   font-weight: 300;
}

.link-item {
   margin-bottom: 5px;
   font-size: 12px;
}

.link-key {
   color: #da4162;
   font-weight: 700;
}

.link-url {
   color: black;
   font-weight: 400;
}

.strike-through .link-key,
.strike-through .link-url {
   text-decoration: line-through;
}

#edit-form {
   margin-top: 15px;
}